.oyo{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: royalblue;
    width: 175px;
    height: 40px;
    border-radius: 20px;
    
}
.oir{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 15px gray;
    width:40vw;
}
.ppp{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.ppp:hover{
    cursor: pointer;
   
}
.jj:hover{
    transform: scale(1.4);
    transition: 0.9s;
}
@media (max-width: 991px) {
    .oir{
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: 0px 0px 15px gray;
        width:90vw;
    }
}